/* Based on http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
strong,
sub,
sup,
i,
ol,
ul,
li,
form,
label,
table,
caption,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
audio,
button,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 1.4rem;
  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.4;
  font-weight: 400;
  color: #222;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  border: 0;
  margin: 0;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  width: 0;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  width: 0;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  width: 0;
}
