/* Based on http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
strong,
sub,
sup,
i,
ol,
ul,
li,
form,
label,
table,
caption,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
audio,
button,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 1.43rem;
  line-height: 1.4;
  font-weight: 300;
  color: #222;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
