.comments-index {
  margin-bottom: 1.5rem;

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $very-light-border;
    margin-bottom: 0.6rem;
  }
  header.sidebar a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  header.sidebar:hover {
    cursor: pointer;
  }

  h2 {
    font-size: 1.4rem;
    color: #999;
    display: flex;
    align-items: center;
  }

  .view-all {
    color: #999;
    position: flex;
    align-items: center;
  }

  header:hover .view-all {
    color: #333;
  }

  h2 .comment-icon {
    width: 3rem;
    height: 3rem;
    background-size: 2.2rem;
  }

  li {
    display: flex;
    align-items: center;
    color: #999;
    padding: 1rem 1rem 1rem 0;

    img {
      border-radius: 100%;
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
    }

    .comment-contents {
      flex: 1;

      .title {
        display: flex;
        justify-content: space-between;
      }

      p {
        color: #333;
      }
      p > span > a {
        color: #999;
      }
      p > span > a:hover {
        color: #333;
      }

      .title {
        font-size: 1.2rem;
        color: #ccc;
      }

      .title a {
        font-size: 1.3rem;
        color: #999;
      }

      .title a:hover {
        color: #333;
      }

      p.body {
        font-size: 1.3;
      }
    }
  }

  li {
    position: relative;

    a .created-at {
      color: #ccc;
    }

    i.delete-icon {
      right: 1rem;
      display: none;
      position: absolute;
      right: 1.5rem;
      top: 50%;
      margin-top: -1.2rem;
      height: 2.4rem;
      width: 2.4rem;
      border: 1px solid $light-border;
      border-radius: 0.3rem;
    }

    i.delete-icon:hover {
      border: 1px solid #ccc;
    }
  }

  li:hover {
    .created-at {
      opacity: 0;
    }

    i.delete-icon {
      display: block;
    }
  }
}
