.site-header {
  height: $header-height;
  background: $dark-grey;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.site-header #logo {
  background: $primary-orange;
  height: 100%;
  width: 15rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .session-buttons {
  display: flex;
  height: 100%;
  align-items: center;
}

.site-header .session-buttons button {
  margin-left: 1.6rem;
  color: white;
}

.site-header .profile-pic {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  display: inline-block;
  margin-right: 1rem;
}

.site-header a {
  display: block;
  color: #ccc;
  padding: 0 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.site-header #logo a {
  color: white;
}

.site-header a.active {
  background-color: #111;
  color: white;
}

.site-header a:hover {
  color: white;
}
