header {
  height: $header-height;
  background: $dark-grey;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header #logo {
  background: $primary-orange;
  height: 100%;
  width: 15rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .session-buttons {
  display: flex;
  height: 100%;
  align-items: center;
}

header .session-buttons button {
  margin-left: 1.6rem;
  color: white;
}

header a {
  display: block;
  color: #ccc;
  padding: 0 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}

header #logo a {
  color: white;
}

header a.active {
  background-color: #111;
  color: white;
}

header a:hover {
  color: white;
}
