.playlist-index {
  li.playlist-item {
    display: flex;
    margin-bottom: 3rem;
  }

  .playlist-img {
    display: inline-block;
    line-height: 0;
    height: 16rem;
    width: 16rem;
    margin-right: 2rem;
  }

  .play-pause-button {
    height: 3.6rem;
    width: 3.6rem;
    float: left;
    margin-right: 1rem;
  }

  .created-at {
    float: right;
    color: #ccc;
    font-size: 1.3rem;
  }

  p.username {
    color: #999;
    font-size: 1.3rem;
  }

  p.username > a:hover {
    color: #333;
  }

  p.title {
    font-size: 1.5rem;
  }

  .info {
    flex: 1;
  }

  .action-buttons {
    display: flex;
    margin-top: 1rem;

    button {
      border-color: $light-border;
      font-size: 1.3rem;
      padding: 0.4rem 0.7rem 0.2rem 0.7rem;
      margin-right: 0.6rem;
    }

    button:hover {
      border-color: #bbb;
    }
  }
}

.playlist-track-index {
  border: 1px solid $very-light-border;
  cursor: pointer;
  margin-top: 0.3rem;
  position: relative;
  z-index: 0;
}

.playlist-track-index-item.playing {
  color: $primary-orange;

  .username {
    color: $primary-orange;
  }
}

.playlist-track-index.in-form {
  max-height: 60rem;
  width: 50rem;
}

.playlist-track-index-item.in-form:hover {
  cursor: move;
}

.playlist-track-index-item.in-form .username {
  color: #333;
}

.playlist-track-index li.playlist-track-index-item {
  border: none;
  border-top: 1px solid $very-light-border;
}

li.playlist-track-index-item:hover {
  background: #f2f2f2;
}

li.playlist-track-index-item:first-child {
  border-top: none;
}

li.playlist-track-index-item:hover .play-pause-button {
  display: block;
}

li.playlist-track-index-item {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  height: 4.5rem;
  position: relative;
  z-index: 25;
  cursor: pointer;
  background: white;
  border: 1px solid $light-border;

  .track-img {
    height: 3rem;
    width: 3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    position: relative;
  }

  .play-pause-button {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: none;
  }

  .play-pause-button.pause {
    display: block;
  }

  .details {
    margin-left: 0.3rem;
    flex: 1;
  }

  .track-num {
    margin-right: 0.7rem;
  }

  .dash {
    margin: 0 0.5rem;
  }

  .username {
    color: #999;
  }
  .username:hover {
    color: #333;
  }

  .title {
    display: inline;
  }

  .actions {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .button {
    padding: 0.3rem 0.6rem 0.3rem;
    border: 1px solid $light-border;
    border-radius: 0.3rem;
    display: none;
    margin-left: 0.6rem;
    background: white;
    font-size: 1.2rem;
  }

  .like-button {
    padding: 0.3rem;
    height: 1.4rem;
    width: 1.4rem;
  }

  .button:hover {
    border-color: #ccc;
    cursor: pointer;
  }

  li:hover .button,
  li:hover button {
    display: block;
  }

  .remove {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAABO0lEQVR4AVWLTYoTURzEH72YpTAL9QqCSxeDtxivoXMAt15DD6AHENSlCDJMf+R99fRLTDS7BI0xQ9KdnkD6Z4Ei+H7vT1VRlPnzOLEX1cd8m5Nvy0/2ghMMQp8sPSq+FpRUCGlB9XnygAyjcvo4vymxBCK1LsiX5Jv5QzKzv1tNS7yKxBghrZVLRpfcMc2LQuGaHT+Z8EW3Zq/sKWiemxAsWqpExYQNyCdqLM6bqteWMU4l9KiUT2jPqDUVkYaks9wCnTShTGR0NO42UHMtfgEHYIUSNQHXm7T01GINfOfqr9bCkxZm+d4RiOxYUMrlrOQj2rL4YIanTesVLlUE4bmSl9K0wzPDWfc6Hh3+Pxzx2L7hzHDKefc2HSzuH5Z06N7xhFNDxj3Oebn6NuvjYInDrP8x55XK+2S/AYzwe7pN8liBAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1.8rem;
    width: 1.8rem;
  }

  .remove:hover {
    cursor: pointer;
  }
}
