body {
  background: #f2f2f2;
}

.content {
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

main {
  flex: 1;
  margin-top: $header-height;
}

main .content {
  background: white;
  padding: $site-padding;
  box-sizing: border-box;
}

button {
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
  border: 1px solid #666;
}

button:hover {
  cursor: pointer;
  border: 1px solid #aaa;
}

button.colored {
  background-color: $primary-orange;
  border: 1px solid $primary-orange;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 1px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.4rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  border: 1px solid #aaa;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid rgba(255, 85, 0, 0.7);
}

input::placeholder {
  color: #888;
}

input[type="submit"] {
  color: white;
  border: none;
  background: $primary-orange;
  margin-bottom: 2rem;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.play-pause-button {
  background: $primary-orange;
  border-radius: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 40%;
}

.play-pause-button:hover {
  cursor: pointer;
}

.play-pause-button.play {
  background-image: url(https://a-v2.sndcdn.com/assets/images/buttons/hero/play-69601b9.svg);
  background-position: 55% 50%;
}

.play-pause-button.pause {
  background-image: url(https://a-v2.sndcdn.com/assets/images/buttons/hero/pause-1f3f227.svg);
}

wave {
  z-index: 0;
}
