.track-index {
  .tracks li {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    border-radius: 0.3rem;
  }

  .tracks li:hover {
    background: #eee;
    cursor: pointer;
  }

  .tracks li.title {
    color: #999;
    border-bottom: 1px solid $very-light-border;
    margin-bottom: 1rem;
  }

  .tracks li.title:hover {
    background: inherit;
    cursor: inherit;
  }

  .left {
    display: flex;
  }

  .number {
    width: 10rem;
    display: flex;
    align-items: center;
  }

  .number p {
    width: 1rem;
    font-size: 1.8rem;
  }

  .track-img {
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
    position: relative;
    display: inline-block;
    line-height: 0;
  }

  .play-pause-button {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
  }

  .tracks li.playing .play-pause-button {
    display: block;
  }

  .tracks li:hover .play-pause-button {
    display: block;
  }

  .username {
    font-size: 1.3rem;
    color: #666;
  }
  .username:hover {
    color: black;
  }

  .track-title {
    font-size: 1.5rem;
  }

  .length {
    color: #666;
    display: flex;
    align-items: center;
  }

  .delete {
    display: block;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }
}

.track-index-detailed {
  .tracks li {
    display: flex;
    margin-bottom: 4rem;
    position: relative;

    .logged-out-overlay:hover {
      opacity: 1;
      cursor: pointer;
    }

    .logged-out-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.85);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.2s;

      .demo-login {
        color: $primary-orange;
      }

      .demo-login:hover {
        text-decoration: underline;
      }
    }

    .track-img {
      width: 16rem;
      height: 16rem;
      display: inline-block;
      line-height: 0;

      img {
        width: 16rem;
        height: 16rem;
      }
    }

    .track-img:hover {
      cursor: pointer;
    }

    .track-details {
      flex: 1;
      margin-left: 1.5rem;
    }

    .top-info {
      padding-top: 0.7rem;
      padding-bottom: 0.6rem;
    }

    .play-pause-button {
      width: 3.6rem;
      height: 3.6rem;
      float: left;
      margin-right: 0.6rem;
    }

    .username {
      margin-bottom: -0.3rem;
    }

    .username a {
      font-size: 1.2rem;
      color: #999;
    }

    .username a:hover {
      color: #333;
    }

    .track-title {
      font-size: 15px;
    }

    .created-at {
      float: right;
      color: #999;
    }

    .waveform {
      margin-bottom: 1rem;
      height: 6rem;
      opacity: 0.75;
      transition: opacity 0.2s;
      z-index: 0;
    }

    .waveform:hover {
      opacity: 1;
      cursor: pointer;
    }
    wave {
      z-index: 0;
    }

    .action-buttons {
      display: flex;
    }

    button {
      padding: 0.3rem 1rem 0.2rem 0.6rem;
      height: 2.2rem;
      margin-right: 0.6rem;
      font-size: 1.2rem;
      line-height: 0;
      display: flex;
      align-items: center;
      border-color: $light-border;
      color: #333;
    }

    button:hover {
      border-color: #ccc;
    }

    button.liked {
      border-color: $primary-orange;
      color: $primary-orange;
    }

    .icon {
      position: relative;
      bottom: 0.1rem;
      height: 1.4rem;
      width: 1.4rem;
      margin-right: 0.3rem;
      background-size: 1.4rem;
    }
  }
}

.track-index-small {
  li {
    display: flex;
    align-items: center;
    height: 6.4rem;
    position: relative;
  }
  .play-pause-button {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
  }

  li:hover .play-pause-button {
    display: block;
  }

  .track-img {
    width: 5rem;
    height: 5rem;
    margin-right: 1.2rem;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .track-details {
    font-size: 1.4rem;
  }

  .username a {
    color: #999;
  }

  .username a:hover {
    color: #333;
  }

  .stats {
    font-size: 1.2rem;
    color: #999;
    display: flex;

    .single-stat {
      display: flex;
      align-items: center;
      margin-left: 0.3rem;
      margin-right: 0.8rem;
    }

    .icon {
      width: 1.6rem;
      height: 1.2rem;
      margin-right: 0.4rem;
    }
  }

  .button {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    right: 0.5rem;
    padding: 0.3rem;
    border: 1px solid $light-border;
    border-radius: 0.3rem;
    height: 1.4rem;
    width: 1.4rem;
    display: none;
  }

  .button:hover {
    border-color: #ccc;
    cursor: pointer;
  }

  li:hover .button {
    display: block;
  }
}
