.track-show {
  .track-splash {
    background: linear-gradient(to left, #57b, #bce);
    margin: (-$site-padding) (-$site-padding) 0;
    height: 38rem;
    display: flex;

    .created-at {
      color: white;
      font-size: 1.8rem;
    }
  }

  .splash-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;

    .top-info {
      display: flex;
      justify-content: space-between;

      .play-info {
        flex: 1;
      }
    }
  }

  .splash-right {
    width: 36rem;
    position: relative;
    .img {
      position: absolute;
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      left: 0;

      img {
        max-width: 100%;
      }
    }
  }

  .details {
    display: flex;
  }

  .comments-details {
    flex: 1;
  }

  .user-details {
    width: 12rem;
    margin-right: 3rem;

    a.image {
      border-radius: 100%;
      display: block;
      margin-bottom: 0.5rem;
    }

    img {
      border-radius: 100%;
      width: 100%;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px inset;
    }

    .num-tracks {
      color: #999;

      a {
      }
    }

    .tracks-icon {
      background-size: 1.6rem 1.6rem;
      width: 1.6rem;
      height: 1.6rem;
      vertical-align: top;
      margin-right: 0.4rem;
    }

    .num-tracks:hover {
      color: #333;
    }
  }

  .play-pause-button {
    float: left;
    height: 6rem;
    width: 6rem;
    margin-bottom: 1rem;
  }

  .highlight {
    background: rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin: 0 0 0.6rem 1.4rem;
  }

  .username {
    font-size: 1.8rem;
    color: #ccc;

    .highlight {
      padding: 0.1rem 0.6rem 0;
    }

    a:hover {
      color: white;
    }
  }

  .title {
    font-size: 2.2rem;
    color: white;
    word-break: break-word;

    .highlight {
      padding: 0.5rem 0.6rem 0.3rem;
    }
  }

  .details {
    padding: 2rem 0;
  }

  .actions {
    padding: 0.5rem;
    height: 2rem;
    border-bottom: 1px solid #f2f2f2;
  }
}
