.user-profile {
  .profile-splash {
    background: linear-gradient(to right, #57b, #bce);
    margin: (-$site-padding) (-$site-padding) 0;
    height: 26rem;
    padding: 3rem;
    display: flex;
    box-sizing: border-box;
  }

  .img {
    border-radius: 100%;
    width: 20rem;
    overflow: hidden;
    position: relative;
  }

  h1 {
    font-size: 2.4rem;
    margin-left: 2.5rem;
  }

  .highlight {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: inline-block;
    padding: 0.5rem 0.6rem 0.3rem;
  }

  .main {
    display: flex;
    > section {
      flex: 1;
    }

    > aside {
      width: 30rem;
      margin-left: 5rem;
    }
  }

  .user-nav ul {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $very-light-border;

    a {
      display: block;
      padding: 1rem 0;
      margin: 0 2rem 0 0;
      border-bottom: 1px solid transparent;
      margin-bottom: -1px;
      font-size: 1.8rem;
      font-weight: 700;
    }

    a:hover {
      border-bottom: 1px solid #333;
      box-sizing: border-box;
    }

    a.selected {
      color: $primary-orange;
      border-bottom: 1px solid $primary-orange;
    }
  }
}
